/*RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

/*GENERALE*/
.my-container {
  max-width: 1100px;
  margin: 0 auto;
}

.open-sans-title{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}